#
# dotphiles : https://github.com/dotphiles/dotphiles
#
# Git submodules in this repo
#
# Authors:
#   Ben O'Hara <bohara@gmail.com>
#

[submodule "dotsync"]
	path = dotsync
	url = https://github.com/dotphiles/dotsync.git
[submodule "vim/dotvim"]
	path = vim/dotvim
	url = https://github.com/snnw/dotvim.git
[submodule "oh-my-fish"]
	path = oh-my-fish
	url = git://github.com/bpinto/oh-my-fish.git
